<div class="container text-center" style="width: 30em">

  <ng-container *ngIf="loading; else taskIsPresent">
    <p class="mb-3">Recuperando i task...</p>
  </ng-container>

  <ng-template #taskIsPresent>

    <ng-container *ngIf="todoList.length === 0 || checkCompleted(); else elseBlock">
      <p class="mb-3">OPS...NON CI SONO TASK</p>
    </ng-container>

    <ng-template #elseBlock>

      <div *ngFor="let item of todoList" class="mb-3">

        <div *ngIf="!item.completed" class="d-flex justify-content-between p-2 rounded-pill" style="background-color:burlywood;">

          <div class="ms-2">
            <p>{{item.title}}</p>
          </div>

          <div>
            <button type="button" class="btn bg-success text-white me-2 rounded-pill" (click)="changes(item.id, 'done')">Done</button>
            <button type="button" class="btn bg-danger text-white me-2 rounded-pill" (click)="changes(item.id, 'dadegi')">Delete</button>
          </div>

        </div>

      </div>

    </ng-template>

  </ng-template>



  <div class="mb-3 d-flex align-items-center">

    <input type="text" class="form-control me-1" [(ngModel)]="newTask">
    <i class="bi bi-plus-circle-fill fs-4" style="color: #1D5C62" (click)="addTask(newTask)"></i>

  </div>

  <div>
    <button type="button" class="btn bg-danger text-white" (click)="clearList()" [disabled]="todoList.length === 0 ? true : false">RESET LIST</button>
  </div>

</div>
