html, body{
    background: linear-gradient(pink, purple, pink);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

#betBtn{
    background-color: blueviolet;
}

input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
}

.greenText{
    color: rgb(16, 197, 16);
}

.orangeText{
    color: orange;
}