@import './palette', './cardsList';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $sand;
}

// ----- HEADER -----
header{
    background-color: $blue;
    a{
        color: white;
    }
}

#backOffice{
    color: white;
    background-color: $orange;
    &:hover{
        background-color:darken($color: $orange, $amount: 5)
    }
}