@import './palette', './cardsList';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $sand;
}

// ----- HEADER -----
header{
    color: white;
    background-color: $blue;
    a{
        color: white;
    }
}