@use 'colors';
@import 'mixin';

.navbar{
    @include back(colors.$coreColor3); 
}

.hero{
    @include back(colors.$coreColor2);
}

.griglia{
    @include back(colors.$coreColor1);
}

.shad{
    box-shadow: 6px 6px 10px black;
}

.btnOne{
    &:hover{
        background-color: #0e6cff;
    }
    background-color: #0e6cff;
    color: white;
}

.btnTwo{
    &:hover{
        background-color: #ff8700;
    }
    background-color: #ff8700;
    color: white;
}

.btnThree{
    &:hover{
        background-color: #4caf50;
    }
    background-color: #4caf50;
    color: white;
}