<nav class="p-3 d-flex justify-content-between align-items-center">
  <div class="d-flex gap-5 align-items-center">
    <a class="fs-2" [routerLink]="'/'">Streaming<span class="yellowPar">Pirata</span></a>
    <a class="fs-5" [routerLink]="'movies'">Movies</a>
    <a class="fs-5" [routerLink]="'favourites'">Favourites</a>
    <a class="fs-5" [routerLink]="'profile'">Profile</a>
  </div>
  <div class="d-flex">
    <!-- alternare tra login e logout -->
    <a class="mx-3" [routerLink]="'login'">Login </a>
    <a class="mx-3" [routerLink]="'register'">Registrati </a>
  </div>
</nav>
