/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

html, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{background-color: black;}

// #EFEF1C giallo

.yellowPar {
  color: #EFEF1C !important;
}
