@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* modifiche generali */

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: initial;
}

.marginPage{
    margin: 0 35em;
}

.blackBtn{
    background-color: #191919;
    color: white;
}

/* HEADER */
header{
    background-color: #ffc017;
}


/* NAVBAR */
#containerNav{
    border-bottom: 1px solid #191919;
}

#fixedBar{
    padding: 1.2em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navBar{
    font-weight: 300;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav{
    margin-right: 2em;
}

#getStarted{
    padding: 0.8em 1.2em;
    border-radius: 30px;
}

/* WELCOME BOX */
#welcomeBox{
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 28em;
    margin-right: 0;
}

#stayCurious{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
}

#stayCurious h1{
    font-family: 'Spectral', serif;
    font-size: 7em;
    font-weight: 300;
    margin-bottom: 0.3em;
}

#stayCurious h2{
    font-size: 1.5em;
    font-weight: 400;
    width: 65%;
    margin-bottom: 2em;
}

#startReading{
    width: fit-content;
    border-radius: 40px;
    padding: 0.6em 2.5em;
    font-size: 1.3em;
    font-weight: 300;
}

#containerWelcome{
    border-bottom: 1px solid #191919;
}

/* TRENDING */
#trendigList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#trendingBox{
    padding: 3em 0 1em;
    border-bottom: 1px solid rgb(229, 229, 229);
    margin-bottom: 5em;
}

#trendingBoxTitle{
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: 1em;
}

#trendingBoxTitle svg{
    margin-right: 1em;
}

.articleTrendBox{
    display: flex;
    width: 20em;
    height: 10em;
}

.trendingNumber{
    color: rgb(229, 229, 229);
    font-size: 2em;
    margin-right: 0.5em;
}

.imgTrend{
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.5em;
    
}

.author{
    display: flex;
    align-items: center;
    margin-bottom: 0.8em;
    font-size: 0.8em;
}

.trendingTitle{
    font-weight: bold;
    margin-bottom: 1.5em;
}

.trendingDate{
    color: grey;
    font-size: 0.8em;
}

/* ARTICLE */
#articleContainer{
    display: flex;
    justify-content: space-between;   
}

#articleColumn{
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}

.card{
    display: flex;
    width: 50em;
    margin-bottom: 4em;
}

.articleSpace{
    width: 30em;
    margin-right: 1.5em;
}

.imgArticle{
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.5em;
}

.title{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.description{
    color: rgb(176, 176, 176);
    margin-bottom: 1.2em;
}

.date{
    color: rgb(176, 176, 176);
    font-size: 0.8em;
}

.sideImg{
    width: 15em;
}

.dateSpace{
    display: flex;
    justify-content: space-between;
}

/* discover more */
#discoverMore{
    width: 25em;
}

#titleAside{
    font-weight: 500;
    margin-bottom: 1em;
}

#containerAside{
    margin-bottom: 1em;
    border-bottom: 1px solid rgb(229, 229, 229);
}

#tags{
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tag{
    background-color: #efefef;
    width: fit-content;
    font-size: 0.9em;
    border-radius: 45px;
    padding: 1em;
    margin-bottom: 0.5em;
}

#help{
    display: flex;
    flex-wrap: wrap;
}

.helpTag{
    margin-right: 1em;
    margin-bottom: 1em;
    color: rgb(176, 176, 176);
}