<div *ngIf="!flag; else esleBlock">
  <form #form="ngForm" (ngSubmit)="accedi(form)" class="p-4 mb-5 text-start" style="background-color: #1C1C1C;">
    <h2 class="mb-5 text-center">{{'login' | uppercase}}</h2>
    <div class="form-group mb-3">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" required ngModel>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" required ngModel>
    </div>
    <button type="submit" class="btn btn-warning mt-3" [disabled]="form.invalid">Accedi</button>
  </form>
</div>

<ng-template #esleBlock>
  <p><span class="yellowPar">Sei loggato con la mail:</span>  {{ mail }}</p>
  <button type="button" class="btn btn-warning text-white" (click)="logginOut()">{{'logout' | uppercase}}</button>
</ng-template>

