/* -------- IMPORT FONT -------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* -------- GENERALI -------- */
html, body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    color: #393d41;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.65;
}

.blue_titles{
    color: #25a2c3;
    font-family: 'Montserrat bold', sans-serif;
    line-height: 1.5;
}

/* -------- HEADER -------- */
#box_logo{
    background-color: black;
    padding: 15px 40px;
    text-align: left;
}

#logo{
    height: 40px;
}

/* -------- MAIN -------- */

/* intro */
#intro{
    background-image: url(../img/banner.jpg);
    background-size: cover;
}

#box_intro{
     padding: 200px; 
}

#descrizione h1{
    margin: 0px;
    line-height: 1.0;
    font-size: 2rem;
    padding: 0px 20px;
}

#descrizione p{
    margin-bottom: 50px;
}

#fake_button{
    background-color: #f04c2f;
    padding: 16px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* informativa */
#box_informativa{
    text-align: center;
    padding: 100px;
}

#immagine_informativa{
    display: inline-block;
    padding-right: 25px;
}

#immagine_informativa img{
    border-radius: 50%;
}

#articoli{
    display: inline-block;
    text-align: left;
    font-size: 0.9rem;
    padding-left: 25px;
}

/* quote */
#quotes{
    background-color: #e22d0e;
    color: white;
    margin-bottom: 70px;
}

#box_quotes{
    padding: 100px 30px;
}

#quote{
    font-style: italic;
    font-size: 1.5rem;
}

#autore, #azienda{
    line-height: 0.5;
}

#azienda{
    font-size: 0.8rem;
}

#box_quotes h2{
    font-family: 'Montserrat bold', sans-serif;
    font-size: 2.0rem;
}

/* info_cards */

#box_info_cards{
    text-align: center;
}

#box_info_cards article{
    display: inline-block;
    width: 30%;
}

.card{
    border: 1px solid #dee1e3;
    margin: 0px 30px 90px;
}

.card img{
    width: 100%;
    height: 400px;
}

.card p{
    font-size: 0.9rem;
    padding: 20px;
}

.card h3{
    font-size: 1rem;
}

/* -------- FOOTER -------- */
footer{
    padding-top: 10px;
    padding-bottom: 60px;
    background-color: #25a2c3;
    color: #c8e7f0;
}

footer h2{
    color: white;
    font-family: 'Montserrat bold', sans-serif;
}

footer a:link, a:visited{
    color: #c8e7f0;
}


/* contatti */
#box_contatti p{
    line-height: 0.8;
    
}

/* credits */
#credits{
    padding-top: 20px;
    
}

#box_credits{
    
    width: fit-content;
    margin: auto;
    padding-top: 20px;
    font-size: 0.8rem;
}

#elenco{
    display: inline-block;
    text-align: left;
    border-bottom: 1px solid #c8e7f0;
}